[submodule "02 Unit 2/project/lambda"]
	path = 02 Unit 2/project/lambda
	url = https://github.com/RCD2020/lambda.git
[submodule "03 Unit 3/tweettest"]
	path = 03 Unit 3/tweettest
	url = https://github.com/RCD2020/tweettest.git
[submodule "03 Unit 3/lambda"]
	path = 03 Unit 3/lambda
	url = https://github.com/RCD2020/lambda.git
[submodule "04 Unit 4/build_weekl/build_week_spotify"]
	path = 04 Unit 4/build_weekl/build_week_spotify
	url = https://github.com/Lambda-ds-31/build_week_spotify.git
