# Apple Stuff
.DS_Store
*.pages

# Cringe Videos of Myself
*.mp4

# Unit 1
01\ Unit\ 1/Project/sources

# Unit 2
02\ Unit\ 2/files/lending-club-subset.csv
02\ Unit\ 2/files/train_features.csv
02\ Unit\ 2/files/test_features.csv
02\ Unit\ 2/git\ token
02\ Unit\ 2/files/train_labels.csv